.type--lg {
  font-size: 28px;
}
@media only screen and (max-width: 768px) {
  .type--lg {
    font-size: 20px;
  }
}
.type--md {
  font-size: 22px;
}
@media only screen and (max-width: 768px) {
  .type--md {
    font-size: 16px;
  }
}
.type--main,
body {
  font-size: 14px;
}
@media only screen and (max-width: 768px) {
  .type--main,
  body {
    font-size: 12px;
  }
}
.type--sm {
  font-size: 13px;
}
@media only screen and (max-width: 768px) {
  .type--sm {
    font-size: 10px;
  }
}
.type--italy {
  font-style: italic;
}
.type--mid {
  text-align: center;
}
.type--bold {
  font-weight: 700;
}
.type--light {
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #111;
}
a:hover {
  text-decoration: none;
  color: #111;
}
.btn,
.nav-slogan__btn,
.take__btn {
  text-transform: uppercase;
  display: inline-block;
  font-size: 13px;
  padding: 20px 50px;
}
@media only screen and (max-width: 768px) {
  .btn,
  .nav-slogan__btn,
  .take__btn {
    padding: 10px 30px;
  }
}
.btn:hover,
.nav-slogan__btn:hover,
.take__btn:hover {
  cursor: pointer;
}
.btn--md {
  padding: 10px 20px;
}
.btn--red,
.nav-slogan__btn,
.take__btn {
  background: #e84545;
  color: #fff;
}
.btn--red:hover,
.nav-slogan__btn:hover,
.take__btn:hover {
  background: #b11616;
  color: #fff;
}
button {
  font-family: Raleway;
}
input,
textarea,
select {
  border: 0px;
  padding: 10px 15px;
  border: 1px solid #c6cacc;
  resize: none;
  outline: 0 !important;
  border-radius: 4px;
  font-family: Raleway;
  display: block !important;
  margin-bottom: 10px;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
video,
iframe {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  display: block;
}
table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-radius: 4px;
}
table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
table th {
  font-weight: bold;
}
table thead th {
  vertical-align: bottom;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top: 0;
}
table tbody + tbody {
  border-top: 2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
  border-left: 1px solid #ddd;
}
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}
table thead:first-child tr:first-child th:first-child,
table tbody:first-child tr:first-child td:first-child {
  border-radius: 4px 0 0 0;
}
table thead:first-child tr:first-child th:last-child,
table tbody:first-child tr:first-child td:last-child {
  border-radius: 0 4px 0 0;
}
table thead:last-child tr:last-child th:first-child,
table tbody:last-child tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
table thead:last-child tr:last-child th:last-child,
table tbody:last-child tr:last-child td:last-child {
  border-radius: 0 0 4px 0;
}
table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}
body > svg {
  display: none;
}
.small-only {
  display: none;
}
@media only screen and (max-width: 768px) {
  .small-only {
    display: table;
  }
}
@media only screen and (max-width: 768px) {
  .large-only {
    display: none;
  }
}
.bold {
  font-weight: 700;
}
.kss-section {
  max-width: 100% !important;
}
.linenums {
  padding: 20px 40px !important;
}
.kss-title {
  margin-bottom: 40px !important;
}
.kss-modifier__example {
  padding: 10px !important;
  box-shadow: 1px 1px 10px #d8d8d8;
}
.all-page__el {
  width: 32%;
  padding: 5px;
  box-shadow: 0px 3px 8px #e3e3e3;
  margin-bottom: 30px;
}
.all-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.all-page__title {
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 10px;
  font-size: 22px;
}
.old-browser {
  background: #c6cacc;
  width: 100%;
  height: 100vh;
  padding-top: 200px;
}
.old-browser-text {
  text-align: center;
  color: #fff;
  font-size: 20px;
}
.section {
  padding: 90px 0px;
}
@media only screen and (max-width: 768px) {
  .section {
    padding: 30px 0;
  }
  .section .btn {
    width: 100%;
    text-align: center;
  }
}
.hidden {
  display: none !important;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@-webkit-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.shrink {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  margin: 0;
  animation: slideInDown 1s 1 ease-in-out;
}
.owl-dots {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  position: relative;
  z-index: 2000;
}
.owl-dot {
  border-radius: 50%;
  margin: 5px;
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 0.2;
}
.owl-dot.active {
  opacity: 1;
  background: #fff;
}
@-moz-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@font-face {
  font-family: "main";
  src: url("../fonts/main.eot"); /* IE9*/
  src: url("../fonts/main.eot?#iefix") format("embedded-opentype"), url("../fonts/main.woff") format("woff"), url("../fonts/main.ttf") format("truetype"), url("../fonts/main.svg#Futura LT W01 Book") format("svg"); /* iOS 4.1- */
}
[data-icon]:before {
  font-family: "main" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "main" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-angle-right:before {
  content: "\61";
}
.icon-angle-left:before {
  content: "\62";
}
.icon-angle-down:before {
  content: "\63";
}
.icon-angle-up:before {
  content: "\64";
}
.icon-bars:before {
  content: "\66";
}
.icon-times:before {
  content: "\65";
}
.icon-heart:before {
  content: "\67";
}
.icon-heart-o:before {
  content: "\68";
}
.icon-facebook-official:before {
  content: "\69";
}
.icon-twitter:before {
  content: "\6a";
}
.icon-vk:before {
  content: "\6b";
}
.icon-odnoklassniki:before {
  content: "\6c";
}
.icon-search:before {
  content: "\6d";
}
.icon-star:before {
  content: "\6e";
}
.icon-star-o:before {
  content: "\6f";
}
.icon-check:before {
  content: "\70";
}
body {
  font-family: Raleway;
  color: #6c7279;
}
.main-cont {
  *zoom: 1;
  width: auto;
  max-width: 1200px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  width: 100%;
  padding: 0 10px;
}
.main-cont:before,
.main-cont:after {
  content: '';
  display: table;
}
.main-cont:after {
  clear: both;
}
@media only screen and (min-width: 1200px) {
  .main-cont {
    width: 1200px;
  }
}
.adv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  .adv {
    padding: 50px 0;
  }
}
.adv__el {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
  width: 30%;
  padding-bottom: 50px;
}
@media only screen and (max-width: 768px) {
  .adv__el {
    width: 100%;
    padding-bottom: 20px;
  }
}
.adv__icon {
  margin-bottom: 30px;
}
.adv__icon-el {
  width: 60px;
  height: 60px;
  fill: #e84545;
}
.adv__title {
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #2d3033;
  font-size: 14px;
  font-weight: 700;
}
.adv__text {
  text-align: center;
}
.footer-wraper {
  background: #3a3e64;
  padding: 70px 0;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .footer-wraper {
    padding: 30px 0 0 0;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
  }
}
.footer__el {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
  width: 33%;
}
@media only screen and (max-width: 768px) {
  .footer__el {
    width: 100%;
    margin-bottom: 20px;
  }
}
.footer__el p {
  margin: 0;
  margin-bottom: 10px;
  color: rgba(255,255,255,0.5);
  text-align: center;
  line-height: 21px;
}
.footer__el-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 20px;
}
.footer__soc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__soc-el {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  padding: 5px;
  margin-right: 5px;
  border: 1px solid #fff;
}
.footer__soc-el:hover {
  border: 1px solid #de1c1c;
}
.footer__soc-el:hover .icons {
  fill: #de1c1c;
}
.footer__soc-el .icons {
  width: 15px;
  height: 15px;
  fill: #fff;
}
.footer-sub {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
  color: rgba(255,255,255,0.5);
  background: #313454;
  padding: 20px 0;
  padding-bottom: 10px;
}
.footer-sub__info {
  margin-bottom: 10px;
  font-size: 13px;
}
.footer-sub__info span {
  color: #fff;
}
.footer-sub__icon {
  display: inline-block;
}
.footer-sub__icon .icon {
  width: 10px;
  height: 10px;
  margin: 0px 5px;
  fill: #e84545;
}
.header {
  height: 700px;
  background: url("../img/baner.png") no-repeat;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .header {
    height: 100vh;
  }
}
.header .main-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}
.nav-wraper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 30px 10px;
  border-bottom: 1px solid rgba(255,255,255,0.15);
}
@media only screen and (max-width: 768px) {
  .nav {
    flex-wrap: wrap;
    padding: 20px 10px;
  }
}
.logo {
  width: 30%;
}
.nav-menu {
  width: 60%;
}
@media only screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .nav-menu {
    display: block !important;
  }
}
.nav-menu__wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .nav-menu__wraper {
    flex-wrap: wrap;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #0f1229;
  }
}
.nav-menu__el {
  text-transform: uppercase;
  transition: all 0.4s;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .nav-menu__el {
    width: 100%;
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #181d3f;
  }
  .nav-menu__el:last-child {
    border-bottom: 0px;
  }
}
.nav-menu__el:hover {
  color: #b3b3b3;
}
.nav-slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
  width: 80%;
}
.nav-slogan__main {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-size: 65px;
  font-weight: 700;
  margin-top: 70px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .nav-slogan__main {
    font-size: 26px;
  }
}
.nav-slogan__sub {
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin-bottom: 70px;
}
@media only screen and (max-width: 768px) {
  .nav-slogan__sub {
    font-size: 12px;
    margin-bottom: 15%;
  }
}
.filter {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(19,16,38,0.45);
}
.nav-toggle .icon {
  width: 25px;
  height: 25px;
  fill: #fff;
}
.nav-toggle .icon:hover {
  cursor: pointer;
}
.persons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}
@media only screen and (max-width: 768px) {
  .persons {
    flex-wrap: wrap;
    padding: 50px 0;
  }
}
.persons__el {
  width: 23%;
}
@media only screen and (max-width: 768px) {
  .persons__el {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
  }
}
.persons__user {
  margin-bottom: 30px;
}
.persons__name {
  font-size: 22px;
  margin-bottom: 5px;
}
.persons__prof {
  text-transform: uppercase;
  color: #e84545;
  margin-bottom: 30px;
  font-size: 13px;
}
.persons__info {
  line-height: 21px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  .persons__info {
    text-align: center;
  }
}
.persons__soc {
  display: flex;
}
.persons__soc-el {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  border: 1px solid #c6cacc;
  margin-right: 5px;
  padding: 7px;
}
.persons__soc-el:hover {
  border: 1px solid #111;
}
.persons__soc-el:hover .icons {
  fill: #111;
}
.persons__soc-el .icons {
  width: 15px;
  height: 15px;
  fill: #c6cacc;
}
.slider {
  display: flex;
  height: 500px;
}
@media only screen and (max-width: 768px) {
  .slider {
    flex-wrap: wrap;
    height: auto;
  }
}
.slider__img {
  background: url("../img/small-banner.png") no-repeat;
  width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 768px) {
  .slider__img {
    display: none;
  }
}
.slider__info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: #53354a;
}
@media only screen and (max-width: 768px) {
  .slider__info {
    width: 100%;
    padding: 100px 0;
  }
}
.slider__wraper {
  width: 70%;
}
.slider__el-slogan {
  font-size: 36px;
  font-style: italic;
  line-height: 42px;
  color: #fff;
  margin-bottom: 20px;
}
@media only screen and (max-width: 768px) {
  .slider__el-slogan {
    font-size: 5vw;
    line-height: initial;
  }
}
.slider__el-desc {
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
}
.take {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  flex-wrap: wrap;
  padding: 100px 0;
}
@media only screen and (max-width: 768px) {
  .take {
    padding: 50px 10px;
  }
}
.take__title {
  text-align: center;
  color: #2d3033;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 10px;
}
@media only screen and (max-width: 768px) {
  .take__title {
    font-size: 22px;
  }
}
.take__title-sub {
  text-transform: uppercase;
  text-align: center;
  color: #2d3033;
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  .take__title-sub {
    margin-bottom: 20px;
    font-size: 12px;
  }
}
.take__btn {
  padding: 20px 85px;
}
.templ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.templ__el {
  width: 25%;
  height: 350px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}
@media only screen and (max-width: 978px) {
  .templ__el {
    width: 50%;
  }
}
@media only screen and (max-width: 640px) {
  .templ__el {
    width: 100%;
  }
}
.templ__el:hover .templ__el-cover {
  transform: translateY(0%);
}
.templ__el-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(232,69,69,0.73);
  transform: translateY(-100%);
}
.templ__el-info {
  color: #fff;
  text-align: center;
}
.templ__el-title {
  margin-bottom: 10px;
  font-weight: 700;
}
