//! block slider
.slider 
	+below(768px)
		fw()
		height auto
	f()
	height 500px
.slider__img 
	+below(768px)
		display none
	bgi("small-banner.png")
	width 50%
	background-size cover
	background-position center
	background-repeat no-repeat
.slider__info 
	+below(768px)
		width 100%
		padding 100px 0
	flex(mid)
	width 50%
	background brown 
.slider__wraper
	width 70%
//.slider__el 
.slider__el-slogan 
	+below(768px)
		font-size 5vw 
		line-height initial 
	font-size 36px
	font-style italic
	line-height 42px
	color white
	margin-bottom 20px
.slider__el-desc 
	up()
	font-size 13px
	color white
//!block slider end