//! block take
.take
	+below(768px)
		padding 50px 10px
	flex(mid)
	fl()
	fw()
	padding 100px 0
.take__title 
	+below(768px)
		font-size 22px
	text-align center
	color #2d3033
	font-size 28px
	font-weight 300
	margin-bottom 10px
.take__title-sub 
	+below(768px)
		margin-bottom 20px
		font-size 12px
	up()
	text-align center
	color #2d3033
	font-size 13px
	font-weight 700
	margin-bottom 40px
.take__btn 
	@extend .btn--red
	@extend .btn
	padding 20px 85px
	
//!block take end