//! block advant
.adv
	+below(768px)
		padding 50px 0
	flex(between)
	fw() 
	padding-top 100px
	padding-bottom 50px
.adv__el
	+below(768px)
		width 100%
		padding-bottom 20px
	flex(between)
	fl()
	fw()
	width 30%
	padding-bottom 50px
.adv__icon
	margin-bottom 30px
.adv__icon-el	
	size 60px 60px
	fill red
.adv__title 
	up()
	margin-bottom 20px
	color #2d3033
	font-size 14px
	font-weight 700
.adv__text 
	text-align center
	width 100%
//!block advant end